section.usage.subcategory
    .usage__container 
        .usage__wrapper 
            a.usage-card.subcategory-card
                .usage-card__title.subcategory-card__title 
                    p 
                        | деревянные
            a.usage-card.subcategory-card
                .usage-card__title.subcategory-card__title
                    p 
                        | металлические
            a.usage-card.subcategory-card
                .usage-card__title.subcategory-card__title 
                    p 
                        | пластиковые
            a.usage-card.subcategory-card
                .usage-card__title.subcategory-card__title 
                    p 
                        | хрустальные

