doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document

        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
        script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")

       
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css")
        script(src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js")

        link(rel="stylesheet", href="./css/style.css")


    body 


        //- Header
        include ../components/header/header.pug
        
        main 
            
            //- order-guide-how
            include ../components/order-guide-how/order-guide-how.pug

            //- why-us
            include ../components/why-us/why-us-order-guide.pug

            //- order-guide-banner
            include ../components/order-guide-banner/order-guide-banner.pug

            //- usage-order-guide
            include ../components/usage/usage-order-guide.pug

            //- order-guide-delivery
            include ../components/order-guide-delivery/order-guide-delivery.pug

        //- Footer
        include ../components/footer/footer.pug

        script(src="./js/front.js") 