doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document

        link(rel="stylesheet", href="./css/style.css")
    body 


        //- Header
        include ../components/header/header.pug
        
        main 
            
            //- services-overview
            include ../components/services-overview/services-overview.pug
            
            //- services-accordion
            include ../components/services-accordion/services-accordion.pug

            //- why-us-secondary
            include ../components/why-us/why-us-secondary.pug

        //- Footer
        include ../components/footer/footer.pug

        script(src="./js/front.js") 