doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document

        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
        script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")

       
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css")
        script(src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js")

        link(rel="stylesheet", href="./css/style.css")


    body 


        //- Header
        include ../components/header/header.pug
        
        main 
            
            //- services-banner.pug
            include ../components/services-banner/services-banner.pug

            //- product-line-secondary
            include ../components/product-line/product-line-secondary.pug

            //- why-us-retexted
            include ../components/why-us/why-us-retexted.pug

            //- services-swiper
            include ../components/services-swiper/services-swiper.pug

            //- usage
            include ../components/usage/usage.pug
            

        //- Footer
        include ../components/footer/footer.pug

        script(src="./js/front.js") 