section.catalog-tiles
    .catalog-tiles__container 
        
        div.breadcrumbs
                nav(aria-label="breadcrumb")
                    ol.breadcrumbs__wrapper
                        li.breadcrumbs__item
                        a.breadcrumbs__link.breadcrumbs__prev(href="/") Главная
                        
                        span.breadcrumbs__divider
                            | |

                        li.breadcrumbs__item
                        span.breadcrumbs__current Каталог

        h2.section__title--big
            | Каталог

        .catalog-tiles__wrapper 
            .catalog-tiles__top 
                a.catalog-tiles-card
                    img(src="./assets/img/Mask group (1).png", alt="")
                    .catalog-tiles-card__title 
                        | фигурки

                .catalog-tiles__top-center 
                    a.catalog-tiles-card 
                        img(src="./assets/img/Mask group (2).png", alt="")
                        .catalog-tiles-card__title 
                            | кубки

                    a.catalog-tiles-card.orange-filter
                        img(src="./assets/img/Mask group (3).png", alt="")
                        .catalog-tiles-card__title 
                            | медали

                a.catalog-tiles-card.orange-filter.mobile-wide
                    img(src="./assets/img/Mask group (4).png", alt="")
                    .catalog-tiles-card__title 
                        | продукция по индивидуальному дизайну

            .catalog-tiles__bottom 
                a.catalog-tiles-card.orange-filter
                    img(src="./assets/img/Mask group (5).png", alt="")
                    .catalog-tiles-card__title 
                        | грамоты и дипломы

                a.catalog-tiles-card
                    img(src="./assets/img/Mask group (6).png", alt="")
                    .catalog-tiles-card__title 
                        | Ленты и значки

                a.catalog-tiles-card.mobile-wide
                    img(src="./assets/img/Mask group (7).png", alt="")
                    .catalog-tiles-card__title 
                        | Сувенирная продкция