section.catalog-tiles
    .catalog-tiles__container 
        .catalog-tiles__wrapper 
            .catalog-tiles__top 
                a.catalog-tiles-card
                    img(src="./assets/img/Mask group (1).png", alt="")
                    .catalog-tiles-card__title 
                        | фигурки

                .catalog-tiles__top-center 
                    a.catalog-tiles-card 
                        img(src="./assets/img/Mask group (2).png", alt="")
                        .catalog-tiles-card__title 
                            | кубки

                    a.catalog-tiles-card.orange-filter
                        img(src="./assets/img/Mask group (3).png", alt="")
                        .catalog-tiles-card__title 
                            | медали

                a.catalog-tiles-card.orange-filter.mobile-wide
                    img(src="./assets/img/Mask group (4).png", alt="")
                    .catalog-tiles-card__title 
                        | продукция по индивидуальному дизайну

    