section.why-us
    .why-us__container 
        .why-us__wrapper 
            .why-us__top 
                h2 почему выбирают нас?
            .why-us__bottom 
                .why-us-step 
                    .why-us-step__num 
                        | 01
                    .why-us-step__text  
                        | Собственное производство – низкие цены без посредников
                .why-us-step 
                    .why-us-step__num 
                        | 02
                    .why-us-step__text 
                        | Широкий ассортимент – более 1000 готовых моделей
                .why-us-step 
                    .why-us-step__num 
                        | 03
                    .why-us-step__text 
                        | Индивидуальный подход – разработка уникального дизайна
                .why-us-step 
                    .why-us-step__num 
                        | 04
                    .why-us-step__text 
                        | Быстрые сроки – изготовление от 1 дня
                .why-us-step 
                    .why-us-step__num 
                        | 05
                    .why-us-step__text 
                        | Бесплатная гравировка – наносим имена, даты, логотипы
            
