section.why-us.why-us-secondary
    .why-us__container 
        .why-us__wrapper 
            .why-us__bottom 
                .why-us-step 
                    h2 как мы работаем
                .why-us-step 
                    .why-us-step__num 
                        | 01
                    .why-us-step__text 
                        | Обсуждаем ваши пожелания – стиль, материал, бюджет
                .why-us-step 
                    .why-us-step__num 
                        | 02
                    .why-us-step__text 
                        | Разрабатываем 3D-визуализацию – утверждаем перед производством
                .why-us-step 
                    .why-us-step__num 
                        | 03
                    .why-us-step__text 
                        | Изготавливаем пробный образец – при необходимости дорабатываем
                .why-us-step 
                    .why-us-step__num 
                        | 04
                    .why-us-step__text 
                        | Запускаем в производство – с гарантией качества
            
