section.why-us.why-us-catalog
    .why-us__container 
        .why-us__wrapper 
           
            .why-us__bottom 
                .why-us-step.why-us-step-text 
                    h2 почему выбирают нас?

                .why-us-step 
                    .why-us-step__num 
                        | 01
                    .why-us-step__text  
                        | Выберите товар на сайте или уточните наличие по телефону.
                .why-us-step 
                    .why-us-step__num 
                        | 02
                    .why-us-step__text 
                        | Оставьте заявку (через корзину, форму обратной связи или звонок).
                .why-us-step 
                    .why-us-step__num 
                        | 03
                    .why-us-step__text 
                        | Менеджер согласует с вами детали заказа, способ оплаты и доставки.
                .why-us-step 
                    .why-us-step__num 
                        | 04
                    .why-us-step__text 
                        | После подтверждения заказ формируется и отправляется.
                