
<section class="why-us">
  <div class="why-us__container"> 
    <div class="why-us__wrapper"> 
      <div class="why-us__top"> 
        <h2>почему выбирают нас?</h2>
      </div>
      <div class="why-us__bottom"> 
        <div class="why-us-step"> 
          <div class="why-us-step__num">
             01</div>
          <div class="why-us-step__text">
             Собственное производство – низкие цены без посредников</div>
        </div>
        <div class="why-us-step"> 
          <div class="why-us-step__num">
             02</div>
          <div class="why-us-step__text">
             Широкий ассортимент – более 1000 готовых моделей</div>
        </div>
        <div class="why-us-step"> 
          <div class="why-us-step__num">
             03</div>
          <div class="why-us-step__text">
             Индивидуальный подход – разработка уникального дизайна</div>
        </div>
        <div class="why-us-step"> 
          <div class="why-us-step__num">
             04</div>
          <div class="why-us-step__text">
             Быстрые сроки – изготовление от 1 дня</div>
        </div>
        <div class="why-us-step"> 
          <div class="why-us-step__num">
             05</div>
          <div class="why-us-step__text">
             Бесплатная гравировка – наносим имена, даты, логотипы</div>
        </div>
      </div>
    </div>
  </div>
</section>