section.why-us.why-us-secondary
    .why-us__container 
        .why-us__wrapper 
            .why-us__bottom 
                .why-us-step 
                    h2 почему выбирают нас?
                .why-us-step 
                    .why-us-step__num 
                        | 01
                    .why-us-step__text 
                        | Собственная дизайн-студия и производство
                .why-us-step 
                    .why-us-step__num 
                        | 02
                    .why-us-step__text 
                        | Использование передовых технологий (включая AR)
                .why-us-step 
                    .why-us-step__num 
                        | 03
                    .why-us-step__text 
                        | Гибкие условия для оптовых покупателей
                .why-us-step 
                    .why-us-step__num 
                        | 04
                    .why-us-step__text 
                        | Работаем с корпоративными и государственными заказчиками
            
