section.text-section
    .text-section__container 
        .text-section__wrapper
            h2 
                | наградные изделия – купить в интернет-магазине недорого 
            .text-section__text 
                p Ищете кубки для награждения победителей? В нашем интернет-магазине вы можете заказать кубки от производителя по выгодным ценам! Широкий выбор моделей:

                ul 
                    li 
                        | Спортивные кубки — для футбола, хоккея, бокса и других соревнований
                    li
                        | Корпоративные награды — для сотрудников, партнеров и бизнес-мероприятий
                    li
                        | Творческие премии — для вручения на фестивалях и конкурсах
                    li 
                        | Детские кубки — яркие и легкие, для школьных состязаний

                p Выбирайте из металлических, акриловых, хрустальных и комбинированных моделей. Возможен индивидуальный дизайн! Закажите кубки прямо сейчас — пусть каждая победа будет памятной!