div.breadcrumbs
    .breadcrumbs__container
                nav(aria-label="breadcrumb")
                    ol.breadcrumbs__wrapper
                        li.breadcrumbs__item
                            a.breadcrumbs__link.breadcrumbs__prev(href="/") Главная
                        span.breadcrumbs__divider
                            | |

                        li.breadcrumbs__item
                            span.breadcrumbs__current Доставка и оплата

section.contacts
    .contacts__container 
        h2.section__title--big
            | ДОСТАВКА И ОПЛАТА