section.blog-overview
    .blog-overview__container 
        div.breadcrumbs
                nav(aria-label="breadcrumb")
                    ol.breadcrumbs__wrapper
                        li.breadcrumbs__item
                            a.breadcrumbs__link.breadcrumbs__prev(href="/") Главная
                        span.breadcrumbs__divider
                            | |
                        li.breadcrumbs__item
                            a.breadcrumbs__link.breadcrumbs__prev(href="/") Акции
                        
                        span.breadcrumbs__divider
                            | |

                        li.breadcrumbs__item
                            span.breadcrumbs__current Блог

        h2.section__title--big
                | БЛОГ
            
        .blog-overview__wrapper 
            a.blog-overview-card(href="#")
                .blog-overview-card__img 
                    img(src="./assets/img/Rectangle 70.png", alt="")

                .blog-overview-card__date 
                    | 08 августа 2025
                .blog-overview-card__title 
                    | Новое поступление золотых медалей
                    span 
                        <svg width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="65" height="65" fill="#FFC242" />
                            <path d="M32 21L43.0003 32.0003L32 43.0006" stroke="black" />
                        </svg>
            a.blog-overview-card(href="#")
                .blog-overview-card__img 
                    img(src="./assets/img/Rectangle 70.png", alt="")

                .blog-overview-card__date 
                    | 08 августа 2025
                .blog-overview-card__title 
                    | Новое поступление золотых медалей
                    span 
                        <svg width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="65" height="65" fill="#FFC242" />
                            <path d="M32 21L43.0003 32.0003L32 43.0006" stroke="black" />
                        </svg>
            a.blog-overview-card(href="#")
                .blog-overview-card__img 
                    img(src="./assets/img/Rectangle 70.png", alt="")

                .blog-overview-card__date 
                    | 08 августа 2025
                .blog-overview-card__title 
                    | Новое поступление золотых медалей
                    span 
                        <svg width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="65" height="65" fill="#FFC242" />
                            <path d="M32 21L43.0003 32.0003L32 43.0006" stroke="black" />
                        </svg>

            a.blog-overview-card(href="#")
                .blog-overview-card__img 
                    img(src="./assets/img/Rectangle 70.png", alt="")

                .blog-overview-card__date 
                    | 08 августа 2025
                .blog-overview-card__title 
                    | Новое поступление золотых медалей
                    span 
                        <svg width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="65" height="65" fill="#FFC242" />
                            <path d="M32 21L43.0003 32.0003L32 43.0006" stroke="black" />
                        </svg>
            a.blog-overview-card(href="#")
                .blog-overview-card__img 
                    img(src="./assets/img/Rectangle 70.png", alt="")

                .blog-overview-card__date 
                    | 08 августа 2025
                .blog-overview-card__title 
                    | Новое поступление золотых медалей
                    span 
                        <svg width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="65" height="65" fill="#FFC242" />
                            <path d="M32 21L43.0003 32.0003L32 43.0006" stroke="black" />
                        </svg>
            a.blog-overview-card(href="#")
                .blog-overview-card__img 
                    img(src="./assets/img/Rectangle 70.png", alt="")

                .blog-overview-card__date 
                    | 08 августа 2025
                .blog-overview-card__title 
                    | Новое поступление золотых медалей
                    span 
                        <svg width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="65" height="65" fill="#FFC242" />
                            <path d="M32 21L43.0003 32.0003L32 43.0006" stroke="black" />
                        </svg>
