section.order-guide-delivery
    .order-guide-delivery__container 
        h2 Доставка

        .order-guide-delivery__wrapper  
            .order-guide-delivery-card
                    .order-guide-delivery-card__title 
                        | Самовывоз
                    .contacts-info
                        .contacts-info__address
                            p.contacts-info__text Вы можете забрать заказ самостоятельно по адресу:
                            p.contacts-info__text 690024, Приморский край, Владивосток, улица Маковского 284, офис 343
                           

                            .contacts-info__schedule
                           
                            table.contacts-info__table
                                thead
                                tr
                                    th График работы:
                                tbody
                                tr
                                    td Пн–Пт
                                    td с 10:00 до 18:00
                                tr
                                    td Сб
                                    td с 10:00 до 15:00
                    
            .order-guide-delivery-card
                    .order-guide-delivery-card__title 
                        | Доставка по России и СНГ
                    .contacts-info
                        .contacts-info__address
                            p.contacts-info__text Мы отправляем заказы через:
                            p.contacts-info__text Транспортные компании (СДЭК, Деловые Линии, ПЭК и др.)
                            p.contacts-info__text Почту России (наложенный платеж или предоплата)
                            p.contacts-info__text Упаковка – надежная, защищающая товар при перевозке.
                    .tip 
                        | *Сроки и стоимость доставки зависят от выбранной ТК и региона.
                               

                            
            .order-guide-delivery-card.img 
                img(src="./assets/img/Rectangle 168.jpg", alt="")
