section.recent-product
  .recent-product__container
    .recent-product__header
      h2.recent-product__title вы смотрели

      
      .recent-product__nav
        button.recent-product__prev(type="button")
          <svg width="13" height="27" viewBox="0 0 13 27" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.2808 0.625L1.28076 13.125L11.2808 25.625" stroke="#1C1C1C" stroke-width="2" />
          </svg>
        button.recent-product__next(type="button")
          <svg width="13" height="27" viewBox="0 0 13 27" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.78125 25.625L10.7812 13.125L0.78125 0.625" stroke="#1C1C1C" stroke-width="2" />
          </svg>
        

    .recent-product__slider.swiper
      .swiper-wrapper
        .swiper-slide
          article.catalog-card
            img.catalog-card__img(src="./assets/img/image 9.jpg" alt="Диплом наградной")
            p.catalog-card__code GR15
            h4.catalog-card__title Диплом наградной
            p.catalog-card__price 460 ₽/Шт
            button.catalog-card__add(type="button")
              svg(width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M10.4961 0V21" stroke="black")
                path(d="M21 10.4961L0 10.4961" stroke="black")

        .swiper-slide
          article.catalog-card
            img.catalog-card__img(src="./assets/img/image 10.png" alt="Медаль-комплект")
            span.catalog-card__badge Акция
            span.catalog-card__badge.catalog-card__badge--hit Хит
            p.catalog-card__code MK227K
            h4.catalog-card__title Медаль-комплект
            p.catalog-card__price
              span.catalog-card__price-old 3 469 ₽
              | 2 120 ₽/Шт
            button.catalog-card__add(type="button")
              svg(width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M10.4961 0V21" stroke="black")
                path(d="M21 10.4961L0 10.4961" stroke="black")

        .swiper-slide
          article.catalog-card
            img.catalog-card__img(src="./assets/img/image 11.png" alt="Приз с фигурой “Борьба”")
            p.catalog-card__code PS1019
            h4.catalog-card__title Приз с фигурой “Борьба”
            p.catalog-card__price 6 009 ₽/Шт
            button.catalog-card__add(type="button")
              svg(width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M10.4961 0V21" stroke="black")
                path(d="M21 10.4961L0 10.4961" stroke="black")

        .swiper-slide
          article.catalog-card
            img.catalog-card__img(src="./assets/img/image 9.jpg" alt="Диплом наградной")
            p.catalog-card__code GR15
            h4.catalog-card__title Диплом наградной
            p.catalog-card__price 460 ₽/Шт
            button.catalog-card__add(type="button")
              svg(width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M10.4961 0V21" stroke="black")
                path(d="M21 10.4961L0 10.4961" stroke="black")

        .swiper-slide
          article.catalog-card
            img.catalog-card__img(src="./assets/img/image 10.png" alt="Медаль-комплект")
            span.catalog-card__badge Акция
            span.catalog-card__badge.catalog-card__badge--hit Хит
            p.catalog-card__code MK227K
            h4.catalog-card__title Медаль-комплект
            p.catalog-card__price
              span.catalog-card__price-old 3 469 ₽
              | 2 120 ₽/Шт
            button.catalog-card__add(type="button")
              svg(width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M10.4961 0V21" stroke="black")
                path(d="M21 10.4961L0 10.4961" stroke="black")

        .swiper-slide
          article.catalog-card
            img.catalog-card__img(src="./assets/img/image 11.png" alt="Приз с фигурой “Борьба”")
            p.catalog-card__code PS1019
            h4.catalog-card__title Приз с фигурой “Борьба”
            p.catalog-card__price 6 009 ₽/Шт
            button.catalog-card__add(type="button")
              svg(width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M10.4961 0V21" stroke="black")
                path(d="M21 10.4961L0 10.4961" stroke="black")