section.company-history
    .company-history__container 

        h2 История компании
        .company-history__wrapper 
            .company-history-block 
                .company-history-block__img 
                    img(src="./assets/img/Rectangle 153.jpg", alt="")
                    .company-history-block__badge 
                        | 2015 год
                .company-history-block__title 
                    | Создание компании. Работаем только оптом
            .company-history-block 
                .company-history-block__img 
                    img(src="./assets/img/Rectangle 154.jpg", alt="")
                    .company-history-block__badge 
                        | 2016 год
                .company-history-block__title 
                    | Первый крупный гос.заказ
            .company-history-block 
                .company-history-block__img 
                    img(src="./assets/img/Rectangle 155.jpg", alt="")
                    .company-history-block__badge 
                        | 2017 год
                .company-history-block__title 
                    | Запуск собственного производства
            .company-history-block 
                .company-history-block__img 
                    img(src="./assets/img/Rectangle 156.jpg", alt="")
                    .company-history-block__badge 
                        | 2018 год
                .company-history-block__title 
                    | Первые наработки для AR наград                              