header.header 
    .header__container 
        .header__wrapper 



            .header__top 
                .burger-menu 
                    <svg width="27" height="21" viewBox="0 0 27 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="27" height="3" fill="#323232" />
                        <rect y="6" width="27" height="3" fill="#323232" />
                        <rect y="12" width="27" height="3" fill="#323232" />
                        <rect y="18" width="27" height="3" fill="#323232" />
                    </svg>
                a.header__logo(href="#")
                    <svg width="240" height="53" viewBox="0 0 240 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.0378 13.0122C19.9146 11.7986 20.3566 10.3326 20.3566 8.62097C20.3566 6.90939 19.9497 5.33811 19.136 4.05442C18.3223 2.77074 17.1789 1.77466 15.7199 1.06618C14.2538 0.35068 12.5563 -5.34058e-05 10.6132 -5.34058e-05C8.51581 -5.34058e-05 6.69901 0.392768 5.15578 1.18543C3.61255 1.97808 2.40603 3.11446 1.52218 4.60157C0.63132 6.09569 0.126264 7.91249 0 10.059H3.7318C4.06851 7.9616 4.81908 6.36225 5.98351 5.26095C7.14795 4.15964 8.67715 3.6125 10.5711 3.6125C12.4651 3.6125 13.8259 4.09651 14.9062 5.07155C15.9794 6.03958 16.5195 7.31625 16.5195 8.90156C16.5195 10.4869 15.9864 11.7074 14.9272 12.6474C13.868 13.5944 12.451 14.0644 10.6904 14.0644H6.95855V17.6348H10.6904C12.4019 17.6348 13.7628 18.1399 14.7869 19.15C15.8111 20.1601 16.3231 21.5069 16.3231 23.1904C16.3231 24.2777 16.0776 25.2317 15.5866 26.0454C15.0956 26.8591 14.4081 27.4974 13.5243 27.9464C12.6404 28.4023 11.6093 28.6268 10.4168 28.6268C8.607 28.6268 7.1269 28.1007 5.99053 27.0555C4.85415 26.0033 4.16671 24.5092 3.92822 22.5661H0.196411C0.273572 24.5864 0.73654 26.319 1.5783 27.771C2.42006 29.2231 3.59151 30.3314 5.09265 31.096C6.59379 31.8606 8.38253 32.2394 10.4519 32.2394C12.3669 32.2394 14.0574 31.8746 15.5235 31.1521C16.9895 30.4296 18.1399 29.3984 18.9817 28.0656C19.8235 26.7328 20.2443 25.1966 20.2443 23.464C20.2443 21.5701 19.8094 19.9707 18.9396 18.6449C18.0698 17.3262 16.9124 16.4564 15.4603 16.0425V15.4603C16.9615 15.0464 18.154 14.2327 19.0378 13.0122Z" fill="#1C1C1C" />
                        <path d="M31.3202 0.582275L23.1621 31.6643H26.9711L29.784 20.7074H38.9311L41.7299 31.6643H45.7704L37.6123 0.582275H31.3202ZM30.7239 17.0527L34.1962 3.53545H34.5469L37.9981 17.0527H30.7239Z" fill="#1C1C1C" />
                        <path d="M59.5052 0.582233H55.8155L55.1561 19.1922C55.079 21.3667 54.9317 23.0783 54.7072 24.3199C54.4897 25.5615 54.1951 26.4664 53.8303 27.0416C53.4656 27.6098 53.0307 27.9745 52.5256 28.1288C52.0206 28.2832 51.4594 28.3603 50.8351 28.3603H50.2529V31.9729H51.2209C51.9715 31.9729 52.701 31.9238 53.4165 31.8396C54.132 31.7484 54.7984 31.545 55.4157 31.2153C56.04 30.8926 56.5871 30.3595 57.0641 29.623C57.5411 28.8864 57.9339 27.8623 58.2285 26.5505C58.5232 25.2458 58.6985 23.5903 58.7546 21.5982L59.3649 4.19479H68.8558V31.6642H72.7419V0.582233H59.4912H59.5052Z" fill="#1C1C1C" />
                        <path d="M93.8355 13.0894H85.1303V0.582233H78.5645V31.6642H85.1303V19.3114H93.8355V31.6642H100.394V0.582233H93.8355V13.0894Z" fill="#FFC242" />
                        <path d="M135.432 31.6642H141.998V6.79723H154.856V0.582233H135.432V31.6642Z" fill="#FFC242" />
                        <path d="M176.819 1.78876C175.212 0.989084 173.346 0.582233 171.221 0.582233H159.373V31.6642H165.939V19.7744H171.221C173.346 19.7744 175.212 19.3886 176.819 18.6099C178.425 17.8313 179.66 16.737 180.529 15.3271C181.399 13.9171 181.834 12.2546 181.834 10.3326C181.834 8.4106 181.399 6.61485 180.529 5.16281C179.66 3.71078 178.425 2.58843 176.819 1.78174V1.78876ZM174.195 12.9351C173.48 13.5594 172.505 13.868 171.263 13.868H165.939V6.76216H171.263C172.505 6.76216 173.48 7.0708 174.195 7.69511C174.904 8.31941 175.261 9.19625 175.261 10.3396C175.261 11.483 174.904 12.3248 174.195 12.9421V12.9351Z" fill="#FFC242" />
                        <path d="M236.851 25.4492V0.582233H218.36C218.311 3.61257 218.248 6.27814 218.184 8.58597C218.121 10.8938 218.037 12.8789 217.932 14.5484C217.827 16.2179 217.722 17.6489 217.602 18.8414C217.483 20.0339 217.343 21.03 217.174 21.8297C217.006 22.6293 216.803 23.3168 216.571 23.892C216.34 24.4602 216.08 24.9793 215.792 25.4422H214.046V38.4544H220.303V31.6572H233.743V38.4544H240V25.4422H236.851V25.4492ZM230.285 25.4492H222.477C222.681 24.9301 222.877 24.376 223.06 23.7797C223.242 23.1835 223.41 22.461 223.565 21.6052C223.719 20.7494 223.852 19.6762 223.972 18.3785C224.091 17.0807 224.196 15.4954 224.301 13.6155C224.407 11.7356 224.484 9.4628 224.533 6.79723H230.285V25.4422V25.4492Z" fill="#FFC242" />
                        <path d="M117.791 52.3503C110.131 52.3503 103.901 46.1213 103.901 38.4613C103.901 30.8012 110.131 24.5722 117.791 24.5722C125.451 24.5722 131.68 30.8012 131.68 38.4613C131.68 46.1213 125.451 52.3503 117.791 52.3503ZM117.791 30.1839C113.224 30.1839 109.513 33.8947 109.513 38.4613C109.513 43.0278 113.224 46.7386 117.791 46.7386C122.357 46.7386 126.068 43.0278 126.068 38.4613C126.068 33.8947 122.357 30.1839 117.791 30.1839Z" fill="#FFC242" />
                        <path d="M116.661 22.3838L115.251 15.8953H120.715L119.284 22.4049C121.045 22.5943 122.953 23.1554 124.924 24.3339L130.262 0.582233H124.082L122.083 9.67324H113.897L111.926 0.582233H105.325L110.663 24.2988C111.505 23.8008 113.722 22.6504 116.661 22.3768V22.3838Z" fill="#FFC242" />
                        <path d="M197.12 52.3502C189.46 52.3502 183.23 46.1212 183.23 38.4612C183.23 30.8012 189.46 24.5721 197.12 24.5721C204.78 24.5721 211.009 30.8012 211.009 38.4612C211.009 46.1212 204.78 52.3502 197.12 52.3502ZM197.12 30.1839C192.553 30.1839 188.842 33.8946 188.842 38.4612C188.842 43.0277 192.553 46.7385 197.12 46.7385C201.686 46.7385 205.397 43.0277 205.397 38.4612C205.397 33.8946 201.686 30.1839 197.12 30.1839Z" fill="#FFC242" />
                        <path d="M195.99 22.3839L194.58 15.8953H200.044L198.613 22.4049C200.374 22.5943 202.282 23.1555 204.253 24.334L209.598 0.589314H203.418L201.419 9.68032H193.233L191.262 0.589314H184.661L189.999 24.3059C190.841 23.8079 193.058 22.6575 195.997 22.3839H195.99Z" fill="#FFC242" />
                        <path d="M117.79 35.0945L118.548 37.4234H120.989L119.018 38.8614L119.769 41.1832L117.79 39.7452L115.812 41.1832L116.57 38.8614L114.592 37.4234H117.04L117.79 35.0945Z" fill="#FFC242" />
                        <path d="M197.12 35.0945L197.877 37.4234H200.318L198.347 38.8614L199.098 41.1832L197.12 39.7452L195.141 41.1832L195.899 38.8614L193.921 37.4234H196.369L197.12 35.0945Z" fill="#FFC242" />
                    </svg>


            //- Поиск в хедере
            .header__search
            form.search-form(action="#" method="GET")
                
                .search-form__input-wrapper
                input.search-form__input(
                    type="text"
                    name="search"
                    placeholder="Поиск по сайту..."
                    aria-label="Поиск по сайту"
                )
                //- button.search-form__close(type="button" aria-label="Закрыть поиск")
                //-     span.search-form__close-icon

                button.search-form__button(type="button" aria-label="Открыть поиск")
                    svg.search-form__icon(width="22" height="22" viewBox="0 0 22 22" fill="none")
                        path(d="M10.37 20.74C4.65385 20.74 0 16.0861 0 10.37C0 4.65385 4.65385 0 10.37 0C16.0861 0 20.74 4.65385 20.74 10.37C20.74 16.0861 16.0861 20.74 10.37 20.74ZM10.37 1.51756C5.48345 1.51756 1.51756 5.49356 1.51756 10.37C1.51756 15.2464 5.48345 19.2224 10.37 19.2224C15.2565 19.2224 19.2224 15.2464 19.2224 10.37C19.2224 5.49356 15.2565 1.51756 10.37 1.51756Z" fill="currentColor")
                        path(d="M20.9926 21.7516C20.8004 21.7516 20.6082 21.6808 20.4564 21.529L18.433 19.5056C18.1396 19.2122 18.1396 18.7266 18.433 18.4332C18.7264 18.1398 19.212 18.1398 19.5054 18.4332L21.5288 20.4566C21.8222 20.75 21.8222 21.2356 21.5288 21.529C21.3771 21.6808 21.1848 21.7516 20.9926 21.7516Z" fill="currentColor")
                    

            .header__bottom
                
                nav.header__nav
                    ul.header__nav-list
                        li.header__nav-item
                            a.header__nav-link(href="#") каталог
                        li.header__nav-item
                            a.header__nav-link(href="#") о нас
                        li.header__nav-item
                            a.header__nav-link(href="#") услуги
                        li.header__nav-item
                            a.header__nav-link(href="#") акции
                        li.header__nav-item
                            a.header__nav-link(href="#") доставка и оплата
                        li.header__nav-item
                            a.header__nav-link(href="#") контакты
                        li.header__nav-item
                            a.header__nav-link(href="#") +7 (914) 790 99 11
                        li.header__nav-item
                            a.header__nav-link(href="#") 
                             <svg xmlns="http://www.w3.org/2000/svg" width="67" height="26" viewBox="0 0 67 26" fill="none">
                                <path d="M9.66029 11.8943C6.3816 11.8943 3.71313 9.22585 3.71313 5.94716C3.71313 2.66846 6.3816 0 9.66029 0C12.939 0 15.6074 2.66846 15.6074 5.94716C15.6074 9.22585 12.939 11.8943 9.66029 11.8943ZM9.66029 1.55143C7.24006 1.55143 5.26457 3.52692 5.26457 5.94716C5.26457 8.36739 7.24006 10.3429 9.66029 10.3429C12.0805 10.3429 14.056 8.36739 14.056 5.94716C14.056 3.52692 12.0805 1.55143 9.66029 1.55143Z" fill="#1C1C1C"/>
                                <path d="M18.5449 22.2372C18.1208 22.2372 17.7692 21.8855 17.7692 21.4615C17.7692 17.8932 14.1285 14.9972 9.66037 14.9972C5.19224 14.9972 1.55155 17.8932 1.55155 21.4615C1.55155 21.8855 1.1999 22.2372 0.775838 22.2372C0.35178 22.2372 0.00012207 21.8855 0.00012207 21.4615C0.00012207 17.0451 4.33379 13.4457 9.66037 13.4457C14.987 13.4457 19.3206 17.0451 19.3206 21.4615C19.3206 21.8855 18.969 22.2372 18.5449 22.2372Z" fill="#1C1C1C"/>
                                <path d="M55.3491 7.68708C54.9265 7.68708 54.576 7.33661 54.576 6.91398V5.49148C54.576 4.40914 54.1122 3.35772 53.3081 2.62585C52.4938 1.88367 51.4424 1.54351 50.3291 1.64659C48.4737 1.82183 46.845 3.7185 46.845 5.69764V6.69751C46.845 7.12014 46.4946 7.47061 46.0719 7.47061C45.6493 7.47061 45.2988 7.12014 45.2988 6.69751V5.68733C45.2988 2.91448 47.5357 0.35809 50.1848 0.10039C51.731 -0.0439219 53.2154 0.440554 54.3493 1.48166C55.4728 2.50216 56.1222 3.96589 56.1222 5.49148V6.91398C56.1222 7.33661 55.7718 7.68708 55.3491 7.68708Z" fill="#1C1C1C"/>
                                <path d="M53.8029 22.2422H47.6181C42.8558 22.2422 41.9693 20.026 41.7425 17.8716L40.9694 11.6971C40.8561 10.5838 40.8148 8.98608 41.8972 7.79035C42.8249 6.75955 44.3608 6.26477 46.5873 6.26477H54.8337C57.0705 6.26477 58.6064 6.76986 59.5238 7.79035C60.5959 8.98608 60.565 10.5838 60.4516 11.6765L59.6785 17.8716C59.4517 20.026 58.5652 22.2422 53.8029 22.2422ZM46.5873 7.81097C44.8453 7.81097 43.6495 8.15114 43.0414 8.83146C42.5363 9.3881 42.3713 10.2437 42.5053 11.5219L43.2784 17.6963C43.4537 19.3456 43.9072 20.7063 47.6181 20.7063H53.8029C57.5138 20.7063 57.9673 19.3559 58.1426 17.717L58.9157 11.5219C59.0497 10.2643 58.8848 9.40871 58.3797 8.84177C57.7715 8.15114 56.5758 7.81097 54.8337 7.81097H46.5873Z" fill="#1C1C1C"/>
                                <path d="M54.2364 12.3464C53.6592 12.3464 53.1953 11.8825 53.1953 11.3156C53.1953 10.7487 53.6592 10.2848 54.2261 10.2848C54.7931 10.2848 55.2569 10.7487 55.2569 11.3156C55.2569 11.8825 54.8034 12.3464 54.2364 12.3464Z" fill="#1C1C1C"/>
                                <path d="M47.0206 12.3464C46.4434 12.3464 45.9795 11.8825 45.9795 11.3156C45.9795 10.7487 46.4434 10.2848 47.0103 10.2848C47.5772 10.2848 48.0411 10.7487 48.0411 11.3156C48.0411 11.8825 47.5875 12.3464 47.0206 12.3464Z" fill="#1C1C1C"/>
                                <circle cx="57.7676" cy="16.8722" r="8.5" fill="#FFC242"/>
                                <path d="M56.5806 13.1122V20.3722H55.7226V14.1242L54.1386 14.6192L53.9296 13.8822L56.2616 13.1122H56.5806ZM60.7486 13.1122V20.3722H59.8906V14.1242L58.3066 14.6192L58.0976 13.8822L60.4296 13.1122H60.7486Z" fill="#1C1C1C"/>
                            </svg>
               


    .mobile-menu 
        .burger-menu-close 
            <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 25L25 2M2 2L25 25" stroke="#323232" stroke-width="3" />
            </svg>
        .mobile-menu__logo 
            a(href="#")
                <svg width="240" height="53" viewBox="0 0 240 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.0378 13.0122C19.9146 11.7986 20.3566 10.3326 20.3566 8.62097C20.3566 6.90939 19.9497 5.33811 19.136 4.05442C18.3223 2.77074 17.1789 1.77466 15.7199 1.06618C14.2538 0.35068 12.5563 -5.34058e-05 10.6132 -5.34058e-05C8.51581 -5.34058e-05 6.69901 0.392768 5.15578 1.18543C3.61255 1.97808 2.40603 3.11446 1.52218 4.60157C0.63132 6.09569 0.126264 7.91249 0 10.059H3.7318C4.06851 7.9616 4.81908 6.36225 5.98351 5.26095C7.14795 4.15964 8.67715 3.6125 10.5711 3.6125C12.4651 3.6125 13.8259 4.09651 14.9062 5.07155C15.9794 6.03958 16.5195 7.31625 16.5195 8.90156C16.5195 10.4869 15.9864 11.7074 14.9272 12.6474C13.868 13.5944 12.451 14.0644 10.6904 14.0644H6.95855V17.6348H10.6904C12.4019 17.6348 13.7628 18.1399 14.7869 19.15C15.8111 20.1601 16.3231 21.5069 16.3231 23.1904C16.3231 24.2777 16.0776 25.2317 15.5866 26.0454C15.0956 26.8591 14.4081 27.4974 13.5243 27.9464C12.6404 28.4023 11.6093 28.6268 10.4168 28.6268C8.607 28.6268 7.1269 28.1007 5.99053 27.0555C4.85415 26.0033 4.16671 24.5092 3.92822 22.5661H0.196411C0.273572 24.5864 0.73654 26.319 1.5783 27.771C2.42006 29.2231 3.59151 30.3314 5.09265 31.096C6.59379 31.8606 8.38253 32.2394 10.4519 32.2394C12.3669 32.2394 14.0574 31.8746 15.5235 31.1521C16.9895 30.4296 18.1399 29.3984 18.9817 28.0656C19.8235 26.7328 20.2443 25.1966 20.2443 23.464C20.2443 21.5701 19.8094 19.9707 18.9396 18.6449C18.0698 17.3262 16.9124 16.4564 15.4603 16.0425V15.4603C16.9615 15.0464 18.154 14.2327 19.0378 13.0122Z" fill="#1C1C1C" />
                        <path d="M31.3202 0.582275L23.1621 31.6643H26.9711L29.784 20.7074H38.9311L41.7299 31.6643H45.7704L37.6123 0.582275H31.3202ZM30.7239 17.0527L34.1962 3.53545H34.5469L37.9981 17.0527H30.7239Z" fill="#1C1C1C" />
                        <path d="M59.5052 0.582233H55.8155L55.1561 19.1922C55.079 21.3667 54.9317 23.0783 54.7072 24.3199C54.4897 25.5615 54.1951 26.4664 53.8303 27.0416C53.4656 27.6098 53.0307 27.9745 52.5256 28.1288C52.0206 28.2832 51.4594 28.3603 50.8351 28.3603H50.2529V31.9729H51.2209C51.9715 31.9729 52.701 31.9238 53.4165 31.8396C54.132 31.7484 54.7984 31.545 55.4157 31.2153C56.04 30.8926 56.5871 30.3595 57.0641 29.623C57.5411 28.8864 57.9339 27.8623 58.2285 26.5505C58.5232 25.2458 58.6985 23.5903 58.7546 21.5982L59.3649 4.19479H68.8558V31.6642H72.7419V0.582233H59.4912H59.5052Z" fill="#1C1C1C" />
                        <path d="M93.8355 13.0894H85.1303V0.582233H78.5645V31.6642H85.1303V19.3114H93.8355V31.6642H100.394V0.582233H93.8355V13.0894Z" fill="#FFC242" />
                        <path d="M135.432 31.6642H141.998V6.79723H154.856V0.582233H135.432V31.6642Z" fill="#FFC242" />
                        <path d="M176.819 1.78876C175.212 0.989084 173.346 0.582233 171.221 0.582233H159.373V31.6642H165.939V19.7744H171.221C173.346 19.7744 175.212 19.3886 176.819 18.6099C178.425 17.8313 179.66 16.737 180.529 15.3271C181.399 13.9171 181.834 12.2546 181.834 10.3326C181.834 8.4106 181.399 6.61485 180.529 5.16281C179.66 3.71078 178.425 2.58843 176.819 1.78174V1.78876ZM174.195 12.9351C173.48 13.5594 172.505 13.868 171.263 13.868H165.939V6.76216H171.263C172.505 6.76216 173.48 7.0708 174.195 7.69511C174.904 8.31941 175.261 9.19625 175.261 10.3396C175.261 11.483 174.904 12.3248 174.195 12.9421V12.9351Z" fill="#FFC242" />
                        <path d="M236.851 25.4492V0.582233H218.36C218.311 3.61257 218.248 6.27814 218.184 8.58597C218.121 10.8938 218.037 12.8789 217.932 14.5484C217.827 16.2179 217.722 17.6489 217.602 18.8414C217.483 20.0339 217.343 21.03 217.174 21.8297C217.006 22.6293 216.803 23.3168 216.571 23.892C216.34 24.4602 216.08 24.9793 215.792 25.4422H214.046V38.4544H220.303V31.6572H233.743V38.4544H240V25.4422H236.851V25.4492ZM230.285 25.4492H222.477C222.681 24.9301 222.877 24.376 223.06 23.7797C223.242 23.1835 223.41 22.461 223.565 21.6052C223.719 20.7494 223.852 19.6762 223.972 18.3785C224.091 17.0807 224.196 15.4954 224.301 13.6155C224.407 11.7356 224.484 9.4628 224.533 6.79723H230.285V25.4422V25.4492Z" fill="#FFC242" />
                        <path d="M117.791 52.3503C110.131 52.3503 103.901 46.1213 103.901 38.4613C103.901 30.8012 110.131 24.5722 117.791 24.5722C125.451 24.5722 131.68 30.8012 131.68 38.4613C131.68 46.1213 125.451 52.3503 117.791 52.3503ZM117.791 30.1839C113.224 30.1839 109.513 33.8947 109.513 38.4613C109.513 43.0278 113.224 46.7386 117.791 46.7386C122.357 46.7386 126.068 43.0278 126.068 38.4613C126.068 33.8947 122.357 30.1839 117.791 30.1839Z" fill="#FFC242" />
                        <path d="M116.661 22.3838L115.251 15.8953H120.715L119.284 22.4049C121.045 22.5943 122.953 23.1554 124.924 24.3339L130.262 0.582233H124.082L122.083 9.67324H113.897L111.926 0.582233H105.325L110.663 24.2988C111.505 23.8008 113.722 22.6504 116.661 22.3768V22.3838Z" fill="#FFC242" />
                        <path d="M197.12 52.3502C189.46 52.3502 183.23 46.1212 183.23 38.4612C183.23 30.8012 189.46 24.5721 197.12 24.5721C204.78 24.5721 211.009 30.8012 211.009 38.4612C211.009 46.1212 204.78 52.3502 197.12 52.3502ZM197.12 30.1839C192.553 30.1839 188.842 33.8946 188.842 38.4612C188.842 43.0277 192.553 46.7385 197.12 46.7385C201.686 46.7385 205.397 43.0277 205.397 38.4612C205.397 33.8946 201.686 30.1839 197.12 30.1839Z" fill="#FFC242" />
                        <path d="M195.99 22.3839L194.58 15.8953H200.044L198.613 22.4049C200.374 22.5943 202.282 23.1555 204.253 24.334L209.598 0.589314H203.418L201.419 9.68032H193.233L191.262 0.589314H184.661L189.999 24.3059C190.841 23.8079 193.058 22.6575 195.997 22.3839H195.99Z" fill="#FFC242" />
                        <path d="M117.79 35.0945L118.548 37.4234H120.989L119.018 38.8614L119.769 41.1832L117.79 39.7452L115.812 41.1832L116.57 38.8614L114.592 37.4234H117.04L117.79 35.0945Z" fill="#FFC242" />
                        <path d="M197.12 35.0945L197.877 37.4234H200.318L198.347 38.8614L199.098 41.1832L197.12 39.7452L195.141 41.1832L195.899 38.8614L193.921 37.4234H196.369L197.12 35.0945Z" fill="#FFC242" />
                </svg>

        nav.header__nav-mobile
            
            ul
                li
                    a(href="#") Главная
                li 
                    a(href="") Каталог
                li 
                    a(href="") Доставка
                li 
                    a(href="") Партнерам
                li 
                    a(href="") Новости
                li 
                    a(href="") Статьи
                li 
                    a(href="") Дизайнерам
                li 
                    a(href="") Контакты

        .mobile-menu__tel 
            a(href="tel:+74012520451")
            |  +7 (999) 99-99-99
        .mobile-menu__address 
            | Title
            | Title
        .mobile-menu__additional 
            | Title<br>
            | Title<br>
            | Title<br>