[class*="__container"] {
    padding: 0 90px; 
    margin: 0 auto; 
    transition: .5s ease;

    @media (min-width:1921px) {
        padding: 0 220px;
    }

    @media (max-width:1660px) {
        padding: 0 90px;
    }
    @media (max-width:991px) {
        padding: 0 24px;
    }
}
  
.ease-in {
    transition: .25s ease-in;
}


/* animation */
section {
    opacity: 0;
    transition: 1s ease;
    transform: translateY(50px);

    &.hero {
        transform: translateY(0);
        opacity: 1;
    }
}
section.animated {
    
    opacity: 1;
    transition: 1s ease;
    transform: translateY(0px);


}



.breadcrumbs {
    padding-top: 160px;
    padding-bottom: 12px;
    @media (max-width:467px) {
        padding-top: 80px;    
    }
}
.breadcrumbs__wrapper {

    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    color: var(--gray-50);

    list-style: none;

    padding: 0;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    gap: 4px;
    row-gap: 1rem;

   
    
    
    @media (max-width:467px) {
      font-size: 16px;
    }
    @media (max-width:420px) {
        font-size: 14px;
    }
    @media (max-width:375px) {
        font-size: 12px;
    }


    &__container {
        nav {
            display: flex;
            justify-content: center;

            @media (max-width:1660px) {
                justify-content: flex-start;
            }
            
        }
    }

    li {
        background-color: #fff;
        width: fit-content;

        &:last-of-type {
            
            

            background-color: unset;

            // @media (max-width:991px) {
            //     width: 100%;
            //     flex: unset;
            // }

            img {
                
            }

            a {
                background-color: #fff;
            }
        }
    }
    

    a {
        
        font-family: var(--font-family);
        font-weight: 300;
        
        color: var(--gray-50);

        line-height: 32px !important;
        text-decoration: none;

        transition: .2s ease;
        

        @media (max-width:991px) {
            line-height: unset !important;
        }
        

        &:hover {
            transition: .2s ease;
            color: var(--dark-blue);
            text-shadow: 0 0 .75px var(--dark-blue); /* Тень текста */

            border: none;
        }
    }
  
    &__item {
      display: flex;
      gap: 10px;
      transition: .2s ease-in;
    }
    &__item:hover {
        transition: .2s ease-in;
    }
    &__divider {
      
    }
    &__current {
        
    }

  }





// accordion
// Установка стандартных границ для аккордеона
.accordion {
    border: none;

  .accordion-header {
    border-bottom: 1px solid #000;
    border-radius: 0px;
  }
}

// Последний элемент аккордеона — добавляем нижнюю границу
.accordion:last-of-type {
  .accordion-content {
    border-bottom: $border-style;
    margin-bottom: 0;
  }
}

// Скрываем чекбокс (переключатель)
input[type='checkbox'] {
  display: none;
}

// Стилизация заголовка / кнопки аккордеона
.accordion-toggle {
  display: block;
  padding: 24px 0 24px 0;
  cursor: pointer;
  border-radius: 0;
  @include transition(all);
  position: relative;

  &:hover {
    
  }
}

// Добавляем стрелку (указатель)
.accordion-toggle::before {
  content: '';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);
  @include transition(all);
  right: 0;
  bottom: 50%;
  position: absolute;
  font-size: 12px;
}



// Поворот стрелки при активном состоянии
.toggle:checked + .accordion-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

// Скрываем содержимое при закрытом состоянии
.accordion-content {
  max-height: 0px;
  overflow: hidden;
}

// Отображаем содержимое при открытом состоянии
.toggle:checked + .accordion-toggle + .accordion-content {
  max-height: 350px;
}

// Внутренние отступы для контента
.accordion-content .accordion-content-inner {
  padding: 24px;
}

// Переход и стили при раскрытом состоянии
.accordion {
  .toggle:checked + label + .accordion-content {
    margin-bottom: 15px;
    border-bottom: 1px solid #000;
    border-radius: 0px;
    @include transition(margin-bottom);
  }
}

