section.for-who
    .for-who__container 
        .for-who__wrapper 
            .for-who__left 
                h2 
                    | для кого наша продукция?
                p   
                    | Закажите наградную продукцию прямо сейчас – создадим достойные награды для вашего события!
            .for-who__cards 
                .for-who-card
                    img(src="./assets/img/Mask group (8).png", alt="")    
                    .for-who-card__title 
                        | Спортивные федерации и клубы
                .for-who-card
                    img(src="./assets/img/Mask group (9).png", alt="")    
                    .for-who-card__title 
                        | Спортивные федерации и клубы
                .for-who-card
                    img(src="./assets/img/Mask group (10).png", alt="")    
                    .for-who-card__title 
                        | Спортивные федерации и клубы
                .for-who-card
                    img(src="./assets/img/Mask group (11).png", alt="")    
                    .for-who-card__title 
                        | Спортивные федерации и клубы