.for-who {
    margin-bottom: 100px;
    @include adaptiveValue(margin-bottom, 100px, 60px, 1920px, 767px);

    &__container {

    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 32px;
        @media (max-width:991px) {
            flex-direction: column;
        }
    }
    &__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (max-width:1440px) {
            justify-content: flex-start;
            gap: 32px;
        }

        h2 {
            font-family: var(--second-family);
            font-weight: 700;
            font-size: 70px;
            @include adaptiveValue(font-size, 70px, 32px, 1920px,767px);
            line-height: 97%;
            color: #1c1c1c;    
        }
        p {
            font-family: var(--font-family);
            font-weight: 300;
            font-size: 14px;
            color: #1c1c1c;
        }
    }
    &__cards {
        display: flex;
        width: 100%;
        gap: 18px;

        @media (max-width:1440px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        
    }
    &-card {
        display: flex;
        width: 100%;
        position: relative;
        cursor: default;

        transition: .2s ease;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #FFC242;
            mix-blend-mode: multiply;
            opacity: 0;
            transition: .2s all;
        }

        &:hover {
            transition: .2s ease;

            &::after {
                transition: .2s ease;
                opacity: 1;
            }
        }

        @media (max-width:991px) {
            aspect-ratio: 4 / 3;
        }
        @media (max-width:567px) {
            aspect-ratio: unset;
        }

        img {
            display: flex;
            width: 100%;
            object-fit: cover;
        }

        &__title {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            color: #fff;
            position: absolute;
            z-index: 10;
            left: 24px;
            bottom: 44px;
            line-height: normal;

            max-width: 170px;

            @media (max-width:467px) {
                left: 12px;
                bottom: 24px;
            }
        }
    }
}