section.services-swiper
    .services-swiper__container
        // Обёртка Swiper
        .services-swiper__wrapper.swiper
            .swiper-wrapper
                // Слайд 1
                .swiper-slide.services-swiper__slide
                    a(href="./assets/img/1safasassava.png" data-fancybox="gallery")
                        img.services-swiper__image(src="./assets/img/1safasassava.png" alt="service")
                // Слайд 2
                .swiper-slide.services-swiper__slide
                    a(href="./assets/img/dbdfbfb.png" data-fancybox="gallery")
                        img.services-swiper__image(src="./assets/img/dbdfbfb.png" alt="service")
                // Слайд 3
                .swiper-slide.services-swiper__slide
                    a(href="./assets/img/sdsve.png" data-fancybox="gallery")
                        img.services-swiper__image(src="./assets/img/sdsve.png" alt="service")
                // Слайд 4
                .swiper-slide.services-swiper__slide
                    a(href="./assets/img/btbtbtb.png" data-fancybox="gallery")
                        img.services-swiper__image(src="./assets/img/btbtbtb.png" alt="service")
                // Слайд 5
                .swiper-slide.services-swiper__slide
                    a(href="./assets/img/1safasassava.png" data-fancybox="gallery")
                        img.services-swiper__image(src="./assets/img/1safasassava.png" alt="service")

        // Кнопки навигации
        .services-swiper__buttons
            button.services-swiper__button.services-swiper__button--prev
                span 
                    <svg width="13" height="27" viewBox="0 0 13 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.2808 0.624512L1.28076 13.1245L11.2808 25.6245" stroke="#1C1C1C" stroke-width="2" />
                    </svg>
            button.services-swiper__button.services-swiper__button--next
                span 
                    <svg width="13" height="27" viewBox="0 0 13 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.780762 25.6245L10.7808 13.1245L0.780762 0.624512" stroke="#1C1C1C" stroke-width="2" />
                    </svg>
        a.ui-button
            | Бесплатная консультация