section.index-news
    .index-news__container 
        .index-news__wrapper 
            .index-news__top
                h3.section__title 
                    | новости
                .index-news__btn 
                    a.ui-button(href="")
                        |  ко всем новостям
            .index-news__bottom 
                .index-news__bottom-left 
                    .index-news-card-big
                        .index-news-card-big__img 
                            img(src="./assets/img/Mask group (15).png", alt="")
                            .index-news-card-big__img-badge 
                                p 
                                    | 01.03.2025
                        .index-news-card-big__title 
                            h5 
                                | Новое поступление золотых медалей

                .index-news__bottom-right  
                    .index-news-card
                        .index-news-card__img 
                            img(src="./assets/img/Mask group (16).png", alt="")
                            .index-news-card__img-badge 
                                p  
                                    | 01.03.2025
                        .index-news-card__title
                            h5 
                                | Запускаем 3D-конструктор наград! 
                        .index-news-card__subtitle                            
                            p
                                | Создайте уникальный дизайн за 5 минут». Теперь вы можете самостоятельно разработать кубок, медаль или грамоту в нашем новом онлайн-конструкторе! Выбирайте форму, материал, добавляйте ...  

                    .index-news-card
                        .index-news-card__img 
                            img(src="./assets/img/Mask group (17).png", alt="")
                            .index-news-card__img-badge 
                                p  
                                    | 23.03.2025
                        .index-news-card__title
                            h5 
                                | Спецпредложение: скидка 20% на корпоративные заказы к Новому году
                        .index-news-card__subtitle                            
                            p
                                | Готовите награды для сотрудников или партнеров? До 31 декабря дарим скидку 20% на заказы от 50 000 ₽! В комплект можно добавить ...
