section.order-guide-banner
    .order-guide-banner__container 
        .order-guide-banner__wrapper 

            .order-guide-banner__text 
                h3 Есть вопросы? Звоните – поможем с выбором и оформлением!
                .order-guide-banner__text-bottom 
                    p
                        | Доставка осуществляется после 100% предоплаты или по договоренности. Точные сроки и стоимость уточняйте у менеджера
                    .order-guide-banner__button 
                        | +7 (914) 790 99 11
            .order-guide-banner__img 
                img(src="./assets/img/Rectangle 158.jpg", alt="")
