section.usage.usage-order-guide
    .usage__container 

        .usage__wrapper 
            .usage-order-guide-card
                h2 
                    | Варианты оплаты
                p 
                    | На данный момент на сайте недоступна онлайн-оплата. Доступные варианты оплаты:     
            .usage-card
                .usage-card__title 
                    h3 
                        | Банковский перевод
                    p 
                        | (по реквизитам, для юридических и физических лиц)
            .usage-card
                .usage-card__title 
                    h3  
                        | Оплата наличными
                    p 
                        | при самовывозе
           

