.usage {

    margin-bottom: 110px;
    @include adaptiveValue(margin-bottom, 110px, 56px, 1920px, 767px);
        
        
        
    h2 {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 70px;
        @include adaptiveValue(font-size, 70px, 32px, 1920px,767px);
        line-height: 97%;
        color: #1c1c1c;  

        max-width: 680px;

        margin-bottom: 36px;
    }

    &__container {

    }
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 24px;

        @media (max-width:1380px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width:567px) {
            grid-template-columns: 1fr;
        }
    }
    &-card {
        padding: 42px 56px;
        border: 1px solid #000;

        @include adaptiveValue(padding-top, 42px, 24px, 1920px, 767px);
        @include adaptiveValue(padding-right, 56px, 24px, 1920px, 767px);
        @include adaptiveValue(padding-bottom, 42px, 24px, 1920px, 767px);
        @include adaptiveValue(padding-left, 56px, 24px, 1920px, 767px);
        
        &__title {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 21px;
            text-transform: uppercase;
            text-align: center;
            color: #1c1c1c;

            p {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 21px;
                @include adaptiveValue(font-size, 21px, 16px, 1920px, 767px);
                text-transform: uppercase;
                text-align: center;
                color: #1c1c1c;
            }
        }
    }
}


.usage-order-guide {
    h2 {
        margin-bottom: 56px;
        @include adaptiveValue(margin-bottom, 56px, 24px, 1920px, 767px);
    }
    h3 {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 33px;
        color: #000;
    }

    .usage__wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        @media (max-width:676px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width:467px) {
            grid-template-columns: 1fr;
        }
    }

    .usage-card {
        display: flex;
        justify-content: flex-start;
        padding: 42px;
        text-align: left;

        @include adaptiveValue(padding-top, 42px, 24px, 1920px, 767px);
        @include adaptiveValue(padding-right, 42px, 24px, 1920px, 767px);
        @include adaptiveValue(padding-bottom, 42px, 24px, 1920px, 767px);
        @include adaptiveValue(padding-left, 42px, 24px, 1920px, 767px);

        h3 {
            text-align: left;
            margin-bottom: 32px;
        }
        p {
            text-align: left;

            font-family: var(--font-family);
            font-weight: 300;
            font-size: 14px;
            color: #000;
            text-transform: none;
        }
    }
}
.usage-order-guide-card {
    display: flex;
    flex-direction: column;

    @media (max-width:676px) {
        grid-column: 1 / -1;
    }

    p {
        font-family: var(--font-family);
        font-weight: 300;
        font-size: 14px;
        color: #000;
    }
}