section.usage
    .usage__container 
        h2 
            | Где применяются наши дизайнерские награды?
        .usage__wrapper 
            .usage-card
                .usage-card__title 
                    p 
                        | спортивные мероприятия
            .usage-card
                .usage-card__title 
                    p 
                        | корпоративные премии
            .usage-card
                .usage-card__title 
                    p 
                        | творческие конкурсы
            .usage-card
                .usage-card__title 
                    p 
                        | образовательные учереждения

