div.breadcrumbs
    .breadcrumbs__container
                nav(aria-label="breadcrumb")
                    ol.breadcrumbs__wrapper
                        li.breadcrumbs__item
                            a.breadcrumbs__link.breadcrumbs__prev(href="/") Главная
                        span.breadcrumbs__divider
                            | |
                        li.breadcrumbs__item
                            a.breadcrumbs__link.breadcrumbs__prev(href="/") Акции
                        
                        span.breadcrumbs__divider
                            | |

                        li.breadcrumbs__item
                            a.breadcrumbs__link.breadcrumbs__prev(href="/") Блог
                        
                        span.breadcrumbs__divider
                            | |

                        li.breadcrumbs__item
                            span.breadcrumbs__current Новое поступление золотых медалей

section.blog-post
    .blog-post__container 
        .blog-post__wrapper 
            .blog-post__img 
                img(src="./assets/img/Rectangle 171.png", alt="")
                .blog-post__img-badge 
                    | 08 августа 2025
            .blog-post__text 
                h2
                    | Новое поступление золотых медалей

                p
                    | В нашем каталоге – пополнение! Мы получили партию новых золотых медалей ХХХХХХХ, которые станут достойной наградой на спортивных соревнованиях, творческих конкурсах, корпоративных мероприятиях и торжественных церемониях. Медали выполнены из прочных, качественных материалов с аккуратной гравировкой и изысканным блеском. Каждая модель продумана до мелочей: от четкости рисунка до удобного крепления ленты. В ассортименте представлены как классические медали с универсальным дизайном, так и оригинальные варианты с уникальными вставками, рельефными изображениями и декоративными элементами. Вы можете выбрать медали разного диаметра, веса и стиля — под любое мероприятие.
                p 
                    | Мы также предлагаем услуги персонализации: нанесем гравировку с именем победителя, названием события или логотипом вашей организации. Такой знак отличия станет не просто наградой, а памятным символом значимого достижения.                     


                .blog-post__btn 
                    a.ui-button(href="")
                        |  в каталог