<section class="section preview">
  <div class="preview__container">
    <div class="preview-links">


      <div class="preview-links__header">
        <h2 class="preview-links__title">Готовые страницы проекта</h2>
        <p class="preview-links__subtitle">Временный раздел для проверки и демонстрации разработанных страниц</p>
      </div>

      <div class="preview-links__grid" style="margin-bottom: 120px;">
        <a class="preview-links__item done" href="https://zal-nagrad.vercel.app/blog-post.html" target="_blank">
          <span class="preview-links__text">Блог (пост)</span>
          <span class="preview-links__arrow">→</span>
        </a>
        <a class="preview-links__item done" href="https://zal-nagrad.vercel.app/blog.html" target="_blank">
          <span class="preview-links__text">Блог</span>
          <span class="preview-links__arrow">→</span>
        </a>
        <a class="preview-links__item done" href="https://zal-nagrad.vercel.app/catalog.html" target="_blank">
          <span class="preview-links__text">Каталог</span>
          <span class="preview-links__arrow">→</span>
        </a>
        <a class="preview-links__item done" href="https://zal-nagrad.vercel.app/category.html" target="_blank">
          <span class="preview-links__text">Категория</span>
          <span class="preview-links__arrow">→</span>
        </a>
        <a class="preview-links__item done" href="https://zal-nagrad.vercel.app/contacts.html" target="_blank">
          <span class="preview-links__text">Контакты</span>
          <span class="preview-links__arrow">→</span>
        </a>
      </div>


        <div class="preview-links__header">
            <h2 class="preview-links__title">В разработке</h2>
            <p class="preview-links__subtitle">Временный раздел для проверки и демонстрации разработанных страниц</p>
        </div>

      <div class="preview-links__grid">
        <a class="preview-links__item" href="https://zal-nagrad.vercel.app/index.html" target="_blank">
          <span class="preview-links__text">Главная</span>
          <span class="preview-links__arrow">→</span>
        </a>

        <a class="preview-links__item" href="https://zal-nagrad.vercel.app/subcategory.html" target="_blank">
          <span class="preview-links__text">Подкатегория</span>
          <span class="preview-links__arrow">→</span>
        </a>
        <a class="preview-links__item" href="https://zal-nagrad.vercel.app/cart.html" target="_blank">
          <span class="preview-links__text">Корзина</span>
          <span class="preview-links__arrow">→</span>
        </a>
        <a class="preview-links__item" href="https://zal-nagrad.vercel.app/product.html" target="_blank">
          <span class="preview-links__text">Товар</span>
          <span class="preview-links__arrow">→</span>
        </a>
        <a class="preview-links__item" href="https://zal-nagrad.vercel.app/services.html" target="_blank">
          <span class="preview-links__text">Услуги</span>
          <span class="preview-links__arrow">→</span>
        </a>
        <a class="preview-links__item" href="https://zal-nagrad.vercel.app/service-one.html" target="_blank">
          <span class="preview-links__text">Услуга — 1</span>
          <span class="preview-links__arrow">→</span>
        </a>
        <a class="preview-links__item" href="https://zal-nagrad.vercel.app/service-two.html" target="_blank">
          <span class="preview-links__text">Услуга — 2</span>
          <span class="preview-links__arrow">→</span>
        </a>
        <a class="preview-links__item" href="https://zal-nagrad.vercel.app/service-three.html" target="_blank">
          <span class="preview-links__text">Услуга — 3</span>
          <span class="preview-links__arrow">→</span>
        </a>
        <a class="preview-links__item" href="https://zal-nagrad.vercel.app/about-us.html" target="_blank">
          <span class="preview-links__text">О компании</span>
          <span class="preview-links__arrow">→</span>
        </a>
        <a class="preview-links__item" href="https://zal-nagrad.vercel.app/order-details.html" target="_blank">
          <span class="preview-links__text">Детали заказа</span>
          <span class="preview-links__arrow">→</span>
        </a>
      </div>
    </div>
  </div>
</section>