section.hero
  .hero__container
    //- Слайдер Swiper
    .swiper.hero__slider
      .swiper-wrapper
        .swiper-slide.hero__slide
          .hero__image(style="background-image: url('./assets/img/Mask group (3).jpg')")
          .hero__content
            h1.hero__title Наградная продукция на заказ
            p.hero__text Широкий ассортимент наградной продукции оригинального дизайна: кубков, медалей, призов, сувениров и эксклюзивной продукции для предстоящих событий и знаменательных дат.

            .hero__controls
                a.hero__button.btn.ui-button(href="#") В каталог

                .hero__arrows
                    button.hero__arrow.hero__arrow--prev(type="button")
                        <svg width="35" height="15" viewBox="0 0 35 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.292893 6.65715C-0.0976295 7.04767 -0.0976296 7.68084 0.292892 8.07136L6.65685 14.4353C7.04738 14.8258 7.68054 14.8258 8.07107 14.4353C8.46159 14.0448 8.46159 13.4116 8.07107 13.0211L2.41422 7.36425L8.07107 1.7074C8.46159 1.31688 8.46159 0.683712 8.07107 0.293188C7.68054 -0.0973368 7.04738 -0.0973368 6.65686 0.293188L0.292893 6.65715ZM35 7.36426L35 6.36426L1 6.36425L1 7.36425L1 8.36425L35 8.36426L35 7.36426Z" fill="white" />
                        </svg>
                    button.hero__arrow.hero__arrow--next(type="button")
                        <svg width="35" height="15" viewBox="0 0 35 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M34.7071 8.07136C35.0976 7.68084 35.0976 7.04768 34.7071 6.65715L28.3431 0.29319C27.9526 -0.0973344 27.3195 -0.0973344 26.9289 0.29319C26.5384 0.683714 26.5384 1.31688 26.9289 1.7074L32.5858 7.36426L26.9289 13.0211C26.5384 13.4116 26.5384 14.0448 26.9289 14.4353C27.3195 14.8259 27.9526 14.8259 28.3431 14.4353L34.7071 8.07136ZM0 7.36426V8.36426H34V7.36426V6.36426H0V7.36426Z" fill="white" />
                        </svg>

            img.hero__image-dc(src="./assets/img/Group 222.png", alt="")

        .swiper-slide.hero__slide
          .hero__image(style="background-image: url('./assets/img/Mask group (3).jpg')")
          .hero__content
            h1.hero__title Наградная продукция на заказ
            p.hero__text Широкий ассортимент наградной продукции оригинального дизайна: кубков, медалей, призов, сувениров и эксклюзивной продукции для предстоящих событий и знаменательных дат.

            .hero__controls
                a.hero__button.btn.ui-button(href="#") В каталог

                .hero__arrows
                    button.hero__arrow.hero__arrow--prev(type="button")
                        <svg width="35" height="15" viewBox="0 0 35 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.292893 6.65715C-0.0976295 7.04767 -0.0976296 7.68084 0.292892 8.07136L6.65685 14.4353C7.04738 14.8258 7.68054 14.8258 8.07107 14.4353C8.46159 14.0448 8.46159 13.4116 8.07107 13.0211L2.41422 7.36425L8.07107 1.7074C8.46159 1.31688 8.46159 0.683712 8.07107 0.293188C7.68054 -0.0973368 7.04738 -0.0973368 6.65686 0.293188L0.292893 6.65715ZM35 7.36426L35 6.36426L1 6.36425L1 7.36425L1 8.36425L35 8.36426L35 7.36426Z" fill="white" />
                        </svg>
                    button.hero__arrow.hero__arrow--next(type="button")
                        <svg width="35" height="15" viewBox="0 0 35 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M34.7071 8.07136C35.0976 7.68084 35.0976 7.04768 34.7071 6.65715L28.3431 0.29319C27.9526 -0.0973344 27.3195 -0.0973344 26.9289 0.29319C26.5384 0.683714 26.5384 1.31688 26.9289 1.7074L32.5858 7.36426L26.9289 13.0211C26.5384 13.4116 26.5384 14.0448 26.9289 14.4353C27.3195 14.8259 27.9526 14.8259 28.3431 14.4353L34.7071 8.07136ZM0 7.36426V8.36426H34V7.36426V6.36426H0V7.36426Z" fill="white" />
                        </svg>

            img.hero__image-dc(src="./assets/img/Group 222.png", alt="")

        .swiper-slide.hero__slide
          .hero__image(style="background-image: url('./assets/img/Mask group (3).jpg')")
          .hero__content
            h1.hero__title Наградная продукция на заказ
            p.hero__text Широкий ассортимент наградной продукции оригинального дизайна: кубков, медалей, призов, сувениров и эксклюзивной продукции для предстоящих событий и знаменательных дат.

            .hero__controls
                a.hero__button.btn.ui-button(href="#") В каталог

                .hero__arrows
                    button.hero__arrow.hero__arrow--prev(type="button")
                        <svg width="35" height="15" viewBox="0 0 35 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.292893 6.65715C-0.0976295 7.04767 -0.0976296 7.68084 0.292892 8.07136L6.65685 14.4353C7.04738 14.8258 7.68054 14.8258 8.07107 14.4353C8.46159 14.0448 8.46159 13.4116 8.07107 13.0211L2.41422 7.36425L8.07107 1.7074C8.46159 1.31688 8.46159 0.683712 8.07107 0.293188C7.68054 -0.0973368 7.04738 -0.0973368 6.65686 0.293188L0.292893 6.65715ZM35 7.36426L35 6.36426L1 6.36425L1 7.36425L1 8.36425L35 8.36426L35 7.36426Z" fill="white" />
                        </svg>
                    button.hero__arrow.hero__arrow--next(type="button")
                        <svg width="35" height="15" viewBox="0 0 35 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M34.7071 8.07136C35.0976 7.68084 35.0976 7.04768 34.7071 6.65715L28.3431 0.29319C27.9526 -0.0973344 27.3195 -0.0973344 26.9289 0.29319C26.5384 0.683714 26.5384 1.31688 26.9289 1.7074L32.5858 7.36426L26.9289 13.0211C26.5384 13.4116 26.5384 14.0448 26.9289 14.4353C27.3195 14.8259 27.9526 14.8259 28.3431 14.4353L34.7071 8.07136ZM0 7.36426V8.36426H34V7.36426V6.36426H0V7.36426Z" fill="white" />
                        </svg>

            img.hero__image-dc(src="./assets/img/Group 222.png", alt="")

        .swiper-slide.hero__slide
          .hero__image(style="background-image: url('./assets/img/Mask group (3).jpg')")
          .hero__content
            h1.hero__title Наградная продукция на заказ
            p.hero__text Широкий ассортимент наградной продукции оригинального дизайна: кубков, медалей, призов, сувениров и эксклюзивной продукции для предстоящих событий и знаменательных дат.

            .hero__controls
                a.hero__button.btn.ui-button(href="#") В каталог

                .hero__arrows
                    button.hero__arrow.hero__arrow--prev(type="button")
                        <svg width="35" height="15" viewBox="0 0 35 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.292893 6.65715C-0.0976295 7.04767 -0.0976296 7.68084 0.292892 8.07136L6.65685 14.4353C7.04738 14.8258 7.68054 14.8258 8.07107 14.4353C8.46159 14.0448 8.46159 13.4116 8.07107 13.0211L2.41422 7.36425L8.07107 1.7074C8.46159 1.31688 8.46159 0.683712 8.07107 0.293188C7.68054 -0.0973368 7.04738 -0.0973368 6.65686 0.293188L0.292893 6.65715ZM35 7.36426L35 6.36426L1 6.36425L1 7.36425L1 8.36425L35 8.36426L35 7.36426Z" fill="white" />
                        </svg>
                    button.hero__arrow.hero__arrow--next(type="button")
                        <svg width="35" height="15" viewBox="0 0 35 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M34.7071 8.07136C35.0976 7.68084 35.0976 7.04768 34.7071 6.65715L28.3431 0.29319C27.9526 -0.0973344 27.3195 -0.0973344 26.9289 0.29319C26.5384 0.683714 26.5384 1.31688 26.9289 1.7074L32.5858 7.36426L26.9289 13.0211C26.5384 13.4116 26.5384 14.0448 26.9289 14.4353C27.3195 14.8259 27.9526 14.8259 28.3431 14.4353L34.7071 8.07136ZM0 7.36426V8.36426H34V7.36426V6.36426H0V7.36426Z" fill="white" />
                        </svg>

            img.hero__image-dc(src="./assets/img/Group 222.png", alt="")

        .swiper-slide.hero__slide
          .hero__image(style="background-image: url('./assets/img/Mask group (3).jpg')")
          .hero__content
            h1.hero__title Наградная продукция на заказ
            p.hero__text Широкий ассортимент наградной продукции оригинального дизайна: кубков, медалей, призов, сувениров и эксклюзивной продукции для предстоящих событий и знаменательных дат.

            .hero__controls
                a.hero__button.btn.ui-button(href="#") В каталог

                .hero__arrows
                    button.hero__arrow.hero__arrow--prev(type="button")
                        <svg width="35" height="15" viewBox="0 0 35 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.292893 6.65715C-0.0976295 7.04767 -0.0976296 7.68084 0.292892 8.07136L6.65685 14.4353C7.04738 14.8258 7.68054 14.8258 8.07107 14.4353C8.46159 14.0448 8.46159 13.4116 8.07107 13.0211L2.41422 7.36425L8.07107 1.7074C8.46159 1.31688 8.46159 0.683712 8.07107 0.293188C7.68054 -0.0973368 7.04738 -0.0973368 6.65686 0.293188L0.292893 6.65715ZM35 7.36426L35 6.36426L1 6.36425L1 7.36425L1 8.36425L35 8.36426L35 7.36426Z" fill="white" />
                        </svg>
                    button.hero__arrow.hero__arrow--next(type="button")
                        <svg width="35" height="15" viewBox="0 0 35 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M34.7071 8.07136C35.0976 7.68084 35.0976 7.04768 34.7071 6.65715L28.3431 0.29319C27.9526 -0.0973344 27.3195 -0.0973344 26.9289 0.29319C26.5384 0.683714 26.5384 1.31688 26.9289 1.7074L32.5858 7.36426L26.9289 13.0211C26.5384 13.4116 26.5384 14.0448 26.9289 14.4353C27.3195 14.8259 27.9526 14.8259 28.3431 14.4353L34.7071 8.07136ZM0 7.36426V8.36426H34V7.36426V6.36426H0V7.36426Z" fill="white" />
                        </svg>

            img.hero__image-dc(src="./assets/img/Group 222.png", alt="")

        .swiper-slide.hero__slide
          .hero__image(style="background-image: url('./assets/img/Mask group (3).jpg')")
          .hero__content
            h1.hero__title Наградная продукция на заказ
            p.hero__text Широкий ассортимент наградной продукции оригинального дизайна: кубков, медалей, призов, сувениров и эксклюзивной продукции для предстоящих событий и знаменательных дат.

            .hero__controls
                a.hero__button.btn.ui-button(href="#") В каталог

                .hero__arrows
                    button.hero__arrow.hero__arrow--prev(type="button")
                        <svg width="35" height="15" viewBox="0 0 35 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.292893 6.65715C-0.0976295 7.04767 -0.0976296 7.68084 0.292892 8.07136L6.65685 14.4353C7.04738 14.8258 7.68054 14.8258 8.07107 14.4353C8.46159 14.0448 8.46159 13.4116 8.07107 13.0211L2.41422 7.36425L8.07107 1.7074C8.46159 1.31688 8.46159 0.683712 8.07107 0.293188C7.68054 -0.0973368 7.04738 -0.0973368 6.65686 0.293188L0.292893 6.65715ZM35 7.36426L35 6.36426L1 6.36425L1 7.36425L1 8.36425L35 8.36426L35 7.36426Z" fill="white" />
                        </svg>
                    button.hero__arrow.hero__arrow--next(type="button")
                        <svg width="35" height="15" viewBox="0 0 35 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M34.7071 8.07136C35.0976 7.68084 35.0976 7.04768 34.7071 6.65715L28.3431 0.29319C27.9526 -0.0973344 27.3195 -0.0973344 26.9289 0.29319C26.5384 0.683714 26.5384 1.31688 26.9289 1.7074L32.5858 7.36426L26.9289 13.0211C26.5384 13.4116 26.5384 14.0448 26.9289 14.4353C27.3195 14.8259 27.9526 14.8259 28.3431 14.4353L34.7071 8.07136ZM0 7.36426V8.36426H34V7.36426V6.36426H0V7.36426Z" fill="white" />
                        </svg>

            img.hero__image-dc(src="./assets/img/Group 222.png", alt="")

    //- Нижняя навигация
    .hero__nav
      button.hero__nav-item.active(type="button")
        .hero__nav-img
            img(src="./assets/img/Mask group (5).jpg", alt="")
        .hero__nav-info
          .hero__nav-num 01
          .hero__nav-title Готовые и уникальные дизайны, персонализация продукции

      button.hero__nav-item(type="button")
        .hero__nav-img
            img(src="./assets/img/Mask group (4).jpg", alt="")
        .hero__nav-info
          .hero__nav-num 02
          .hero__nav-title Чёткая гравировка, цветная печать, нанесение логотипов

      button.hero__nav-item(type="button")
        .hero__nav-img
            img(src="./assets/img/Mask group (6).jpg", alt="")
        .hero__nav-info
          .hero__nav-num 03
          .hero__nav-title Быстрое изготовление продукции под заказ

      button.hero__nav-item(type="button")
        .hero__nav-img
            img(src="./assets/img/image 7.png", alt="")
        .hero__nav-info
          .hero__nav-num 04
          .hero__nav-title Доставка по РФ и странам СНГ за 1–7 дней

      button.hero__nav-item(type="button")
        .hero__nav-img
            img(src="./assets/img/image 16.jpg", alt="")
        .hero__nav-info
          .hero__nav-num 05
          .hero__nav-title Доступные розничные цены от ХХ руб.

      button.hero__nav-item(type="button")
        .hero__nav-img
            img(src="./assets/img/Mask group (7).jpg", alt="")
        .hero__nav-info
          .hero__nav-num 06
          .hero__nav-title Низкие оптовые цены, партнёрская программа