.preview-links {
  padding: 180px 20px;
  background: #0f0f0f;
  color: #fff;
  text-align: center;
  animation: fadeIn 1s ease-out;

  .logo {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 80px;
    @include adaptiveValue(margin-bottom, 80px, 40px, 1920px, 567px);  
    display: none;
  }

  &__header {
    margin-bottom: 50px;
  }

  &__title {
    font-family: var(--second-family);
    font-weight: 700;
     @include adaptiveValue(font-size, 73px, 42px, 1920px, 567px);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;

    &.secondary {
           
            line-height: 144%;

            color: transparent; 
            -webkit-text-stroke: 1px #FFC242; 
            text-stroke: 1px #FFC242; 
            paint-order: stroke fill; 
    }
  }

  &__subtitle {
    font-family: var(--font-family);
    font-size: 14px;
    color: #fff;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
  }

  &__item {
    font-family: var(--font-family);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 24px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.03);
    color: #fff;
    text-decoration: none;
    overflow: hidden;
    transition: all 0.4s ease;
    backdrop-filter: blur(4px);
    gap: 8px;

    &:hover {
      transition: .2s ease;
      border-color: #ffcc00;
      background: rgba(255, 204, 0, 0.1);
      transform: translateY(-4px);
      box-shadow: 1px 1px 52px #ffcc0044;
      .preview-links__arrow {
        transform: translateX(5px);
        color: #ffcc00;
      }
    }

    &.done {
        background-color: #FFC242;
        color: #0f0f0f;
        transition: .2s ease;

        &:hover {
            transition: .2s ease;
            background: rgba(255, 255, 255, 0.03);
            color: #FFC242;
            box-shadow: 1px 1px 52px #ffffff44;
        }
    }
  }

}
