section.services-banner
    .services-banner__container 
        .services-banner__wrapper 
            .services-banner__img 
                img(src="./assets/img/1232131131.png", alt="")
            .services-banner__text    
                div.breadcrumbs
                                nav(aria-label="breadcrumb")
                                    ol.breadcrumbs__wrapper
                                        li.breadcrumbs__item
                                            a.breadcrumbs__link.breadcrumbs__prev(href="/") Главная
                                        span.breadcrumbs__divider
                                            | |
                                        li.breadcrumbs__item
                                            a.breadcrumbs__link.breadcrumbs__prev(href="/") Услуги
                                        
                                        span.breadcrumbs__divider
                                            | |

                                        li.breadcrumbs__item
                                            span.breadcrumbs__current Индивидуальный дизайн
                    
                h1  индивидуальный дизайн    