section.services-banner
    .services-banner__container 
        .services-banner__wrapper 
            .services-banner__img 
                img(src="./assets/img/Mask group (1).jpg", alt="")
            .services-banner__text    
                div.breadcrumbs
                                nav(aria-label="breadcrumb")
                                    ol.breadcrumbs__wrapper
                                        li.breadcrumbs__item
                                            a.breadcrumbs__link.breadcrumbs__prev(href="/") Главная
                                        span.breadcrumbs__divider
                                            | |
                                        li.breadcrumbs__item
                                            span.breadcrumbs__current О нас
                    
                h1  о нас  