section.services-swiper.team-swiper
    .services-swiper__container
        h2 Наша Команда
        // Обёртка Swiper
        .services-swiper__wrapper.swiper
            .swiper-wrapper
                // Слайд 1
                .swiper-slide.services-swiper__slide
                    a(href="./assets/img/ulybausiisa-muzcina-predprinimatel-s-borodoi-i-usami-skrestiv-ruki-na-grudi-Photoroom 1.jpg" data-fancybox="gallery")
                        img.services-swiper__image(src="./assets/img/ulybausiisa-muzcina-predprinimatel-s-borodoi-i-usami-skrestiv-ruki-na-grudi-Photoroom 1.jpg" alt="service")
                // Слайд 2
                .swiper-slide.services-swiper__slide
                    a(href="./assets/img/portret-molodoi-kommersantki-derza-eyeglasses-v-ruke-protiv-serogo-fona-Photoroom 1.jpg" data-fancybox="gallery")
                        img.services-swiper__image(src="./assets/img/portret-molodoi-kommersantki-derza-eyeglasses-v-ruke-protiv-serogo-fona-Photoroom 1.jpg" alt="service")
                // Слайд 3
                .swiper-slide.services-swiper__slide
                    a(href="./assets/img/smailik-celovek-rasslablausii-na-otkrytom-vozduhe-Photoroom 1.jpg" data-fancybox="gallery")
                        img.services-swiper__image(src="./assets/img/smailik-celovek-rasslablausii-na-otkrytom-vozduhe-Photoroom 1.jpg" alt="service")
                // Слайд 4
                .swiper-slide.services-swiper__slide
                    a(href="./assets/img/portret-scastlivoi-ulybauseisa-zensiny-v-svitere-s-rukami-vozle-lica-glada-v-storonu-izolirovannye-na-serom-fone-Photoroom 1.jpg" data-fancybox="gallery")
                        img.services-swiper__image(src="./assets/img/portret-scastlivoi-ulybauseisa-zensiny-v-svitere-s-rukami-vozle-lica-glada-v-storonu-izolirovannye-na-serom-fone-Photoroom 1.jpg" alt="service")
                // Слайд 5
                .swiper-slide.services-swiper__slide
                    a(href="./assets/img/ulybausiisa-muzcina-predprinimatel-s-borodoi-i-usami-skrestiv-ruki-na-grudi-Photoroom 1.jpg" data-fancybox="gallery")
                        img.services-swiper__image(src="./assets/img/ulybausiisa-muzcina-predprinimatel-s-borodoi-i-usami-skrestiv-ruki-na-grudi-Photoroom 1.jpg" alt="service")

        // Кнопки навигации
        .services-swiper__buttons
            button.services-swiper__button.services-swiper__button--prev
                span 
                    <svg width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="65" height="65" transform="matrix(-1 0 0 1 65 0)" fill="#FFC242" />
                        <path d="M33 21L21.9997 32.0003L33 43.0006" stroke="black" />
                    </svg>
            button.services-swiper__button.services-swiper__button--next
                span 
                    <svg width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="65" height="65" fill="#FFC242" />
                        <path d="M32 21L43.0003 32.0003L32 43.0006" stroke="black" />
                    </svg>
            